.contact__icon--email {
    width: 26px;
    height: 12px;
    padding-right: 10px;
    fill: var(--grey);
}
.contact__icon--smartphone {
    padding-right: 10px;
    fill: var(--grey);
    width: 20px;
    height: 16px;
}
